Basic Join 

The Report

In [ ]:
SELECT
    CASE
    WHEN grades.grade < 8 THEN 'NULL'
    ELSE students.name
    END,
    grades.grade, students.marks
FROM students, grades
WHERE students.marks >= grades.min_mark AND students.marks <= grades.max_mark
ORDER BY grades.grade DESC, students.name

Top Competitors

In [ ]:
SELECT h.hacker_id, h.name
FROM Hackers h
JOIN (
  SELECT s.hacker_id, COUNT(DISTINCT s.challenge_id) AS full_scores
  FROM Submissions s
  JOIN Challenges c ON s.challenge_id = c.challenge_id
  JOIN Difficulty d ON c.difficulty_level = d.difficulty_level AND s.score = d.score
  GROUP BY s.hacker_id
  HAVING COUNT(DISTINCT s.challenge_id) > 1
) AS full_scores ON h.hacker_id = full_scores.hacker_id
ORDER BY full_scores DESC, h.hacker_id ASC;

Ollivander's Inventory

In [ ]:
SELECT W.ID, P.AGE, W.COINS_NEEDED, W.POWER 
FROM WANDS AS W
JOIN WANDS_PROPERTY AS P
ON (W.CODE = P.CODE) 
WHERE P.IS_EVIL = 0 AND W.COINS_NEEDED = (SELECT MIN(COINS_NEEDED) 
                                          FROM WANDS AS X
                                          JOIN WANDS_PROPERTY AS Y 
                                          ON (X.CODE = Y.CODE) 
                                          WHERE X.POWER = W.POWER AND Y.AGE = P.AGE) 
ORDER BY W.POWER DESC, P.AGE DESC;

Draw The Triangle 1

In [ ]:
Declare @i int = 20

while (@i>0)
begin
    print replicate('* ',@i);
    set @i = @i- 1;
end